<h3>Session detail template</h3>
<span class="session-name">{{model.name}}</span>
<span class="session-desc">{{model.desc}}</span>
<h3>Speakers for this session</h3>
<table class="table">
  <tbody>
  {{#each speaker in speakers}}
  <tr class="session-speaker-row">
    <td class="session-speaker-name">{{speaker.name}}</td>
    <td class="session-speaker-link">
      {{#link-to 'speaker' speaker.id class='btn btn-info btn-session pull-right'}}details{{/link-to}}</td>
    </td>
  </tr>
  {{else}}
  <tr class="no-speakers-found">
    <td>no speakers found for this session</td>
    <td></td>
  </tr>
  {{/each}}
  </tbody>
</table>
