    <table class="table">
      <tbody>
      {{#each session in controller}}
      <tr class="session-row">
        <td><span class="session-name hide-overflow">{{session.name}}</span><span class="session-speaker-name">Toran Billups</span></td>
        {{#link-to "session" session.id tagName="td" class="session-link"}}
          <a href="#" class='pull-right'><i class="glyphicon glyphicon-chevron-right"></i></a>
        {{/link-to}}
      </tr>
      {{else}}
      <tr class="no-sessions-found">
        <td>no sessions found</td>
        <td></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
