<h3>Speaker detail template</h3>
<span class="speaker-name">{{model.name}}</span>
<h3>Sessions for this speaker</h3>
<table class="table">
  <tbody>
  {{#each session in sessions}}
  <tr class="speaker-session-row">
    <td class="speaker-session-name">{{session.name}}</td>
    <td class="speaker-session-link">
      {{#link-to 'session' session.id class='btn btn-info btn-speaker pull-right'}}details{{/link-to}}</td>
    </td>
  </tr>
  {{else}}
  <tr class="no-sessions-found">
    <td>no sessions found for this speaker</td>
    <td></td>
  </tr>
  {{/each}}
  </tbody>
</table>
