    <table class="table">
      <tbody>
      {{#each speaker in controller}}
      <tr class="speaker-row">
        <td class="speaker-name hide-overflow">{{speaker.name}}</td>
        <td class="speaker-link">
          {{#link-to 'speaker' speaker.id tagName="td" class="speaker-link"}}
            <a href="#" class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
          {{/link-to}}</td>
        </td>
      </tr>
      {{else}}
      <tr class="no-speakers-found">
        <td>no speakers found</td>
        <td></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
