/*
Styles for the 'Sessions' View
*/

@import 'common';

.session-row {

}

.session-link a {
    border-color: @icc-brown;
    background-color: @icc-green;
}

.no-sessions-found {
    text-align: center;
}
