/*
Styles specific to 'Speakers' View
*/
@import 'common';

.speaker-row {

}

.speaker-name {
    text-align: center;
}

.speaker-link a {
    background-color: @icc-orange;
    border-color: @icc-brown;
    color: Black;
}

.no-speakers-found {
    text-align: center;
}
