/*
Styles specific to 'Speaker' View
*/

@import 'common';

.speaker-name {
    text-align: center;
}

.speaker-session-row {

}

.speaker-session-name {

}

.speaker-session-link a {
    background-color: @icc-orange;
    border-color: @icc-brown;
}

.no-sessions-found {
    text-align: center;
}
